---
import Layout from '../layouts/Layout.astro'
import Signature from '../components/Signature.astro'
---

<Layout
  title="Marek Chodacki | Programista Fullstack"
  selectedItem="strona-glowna"
>
  <nav class="main">
    <div class="container">
      <main class="fold-content-container">
        <div class="fold-content">
          <h1>
            <span class="line">Trzy kompetencje.</span>
            <span class="line center">Jeden człowiek.</span>
            <span class="line right">
              <span class="underline bold-500">Zero komplikacji.</span>
            </span>
          </h1>
          <p class="lead mobile-hidden">
            Łączę w&nbsp;sobie kompetencje App i&nbsp;Web Developera, Eksperta
            WordPress i&nbsp;WooCommerce oraz&nbsp;Specjalisty SEO. Tworzę
            rozwiązania od&nbsp;backendu po&nbsp;frontend, dbając
            o&nbsp;wydajność i&nbsp;optymalizację każdej witryny.
          </p>
          <p class="lead center mobile-hidden">
            Potrafię rozwijać zarówno dedykowane aplikacje w&nbsp;Vue, Nuxt
            czy&nbsp;Astro, jak&nbsp;i&nbsp;projektować skalowalne systemy
            w&nbsp;oparciu o&nbsp;PHP i&nbsp;MySQL.<br />Rozumiem projektowanie
            nie&nbsp;tylko od&nbsp;strony kodu, ale&nbsp;i&nbsp;widoczności
            w&nbsp;sieci.
          </p>
          <p class="lead right">
            Zamiast trzech osób - masz jednego partnera. Zbuduję dla&nbsp;Ciebie
            stronę www, aplikację lub sklep internetowy, zajmę&nbsp;się ich
            optymalizacją pod&nbsp;wyszukiwarkę Google i&nbsp;zadbam
            o&nbsp;techniczne szczegóły, które zwiększą Twoją sprzedaż.
          </p>
          <p class="lead right bold-600">
            Dzięki temu Twój biznes urośnie szybciej,<br
              class="mobile-hidden"
            />a&nbsp;Ty oszczędzisz czas i&nbsp;pieniądze.
          </p>
        </div>
        <div class="svg-wrapper">
          <Signature />
        </div>
        <div class="home-buttons">
          <a href="tel:+48506788894" class="button w-button">
            <img
              src="/assets/icons/btn_phone.svg"
              loading="lazy"
              alt="Zadzwoń"
              class="icon"
            />Zadzwoń</a
          >
          <a href="/kontakt" class="button w-button">
            <img
              src="/assets/icons/btn_mail.svg"
              loading="lazy"
              alt="Kontakt - Wyślij mail"
              class="icon"
            />Wyślij mail</a
          >
        </div>
      </main>
      <div class="projects-section">
        <!-- Aplikacje webowe -->
        <a href="/aplikacje-webowe" class="projects-container">
          <div class="single-projects-category">
            <div class="projects-category-image-container">
              <img
                src="/assets/icons/cat_webapps.svg"
                loading="lazy"
                alt="Tworzenie aplikacji webowych"
                class="projects-category-image"
              />
            </div>
          </div>
          <div class="single-projects-content">
            <h4>Aplikacje webowe</h4>
            <div class="tech-tools-container">
              <div class="mini-label-white gray-color">
                Technologie i&nbsp;narzędzia
              </div>
              <div class="chips-container chips-container-small-width">
                <div class="single-chip small-chip">Vue</div>
                <div class="single-chip small-chip">Nuxt</div>
                <div class="single-chip small-chip">Astro</div>
                <div class="single-chip small-chip">Node</div>
                <div class="single-chip small-chip">TypeScript</div>
                <div class="single-chip small-chip">Supabase</div>
                <div class="single-chip small-chip">REST API</div>
                <div class="single-chip small-chip">Tailwind</div>
                <div class="single-chip small-chip">Git</div>
                <div class="single-chip small-chip">CI/CD</div>
              </div>
            </div>
          </div>
        </a>
        <!-- Strony i sklepy internetowe -->
        <a href="/strony-sklepy" class="projects-container">
          <div class="single-projects-category">
            <div class="projects-category-image-container devops-img">
              <img
                src="/assets/icons/cat_websites.svg"
                loading="lazy"
                alt="Projektowanie stron i sklepów internetowych"
                class="projects-category-image"
              />
            </div>
          </div>
          <div class="single-projects-content">
            <h4>Strony i&nbsp;Sklepy internetowe</h4>
            <div class="tech-tools-container">
              <div class="mini-label-white gray-color">
                Technologie i&nbsp;narzędzia
              </div>
              <div class="chips-container chips-container-small-width">
                <div class="single-chip small-chip">WordPress</div>
                <div class="single-chip small-chip">WooCommerce</div>
                <div class="single-chip small-chip">PHP</div>
                <div class="single-chip small-chip">MySQL</div>
                <div class="single-chip small-chip">Personalizacja</div>
                <div class="single-chip small-chip">Integracje</div>
                <div class="single-chip small-chip">Wydajność</div>
              </div>
            </div>
          </div>
        </a>
        <!-- SEO i Pozycjonowanie -->
        <a href="/seo-pozycjonowanie" class="projects-container">
          <div class="single-projects-category">
            <div class="projects-category-image-container">
              <img
                src="/assets/icons/cat_seo.svg"
                loading="lazy"
                alt="Optymalizacja SEO i Pozycjonowanie stron internetowych"
                class="projects-category-image"
              />
            </div>
          </div>
          <div class="single-projects-content">
            <h4>SEO i&nbsp;Pozycjonowanie</h4>
            <div class="tech-tools-container">
              <div class="mini-label-white gray-color">
                Strategie i&nbsp;narzędzia
              </div>
              <div class="chips-container chips-container-small-width">
                <div class="single-chip small-chip">SEO On‑Page</div>
                <div class="single-chip small-chip">SEO Techniczne</div>
                <div class="single-chip small-chip">Audyt SEO</div>
                <div class="single-chip small-chip">Content</div>
                <div class="single-chip small-chip">Link Building</div>
                <div class="single-chip small-chip">Analytics</div>
                <div class="single-chip small-chip">Search Console</div>
                <div class="single-chip small-chip">Ahrefs</div>
                <div class="single-chip small-chip">Semrush</div>
                <div class="single-chip small-chip">PageSpeed</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </nav>
</Layout>
