---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import BackButton from '../components/BackButton.astro'
---

<!doctype html>
<html>
  <Header title="Kontakt | Marek Chodacki" />
  <body>
    <div class="content">
      <Sidebar selectedItem="kontakt" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <BackButton />
          </div>
          <div class="content-container">
            <h1>Kontakt</h1>
            <section class="contact-container">
              <h2>Masz pomysł?</h2>
              <p class="center pb0">
                Zaprojektuję dla Ciebie stronę, aplikację lub sklep internetowy.
              </p>
              <div class="available">
                <span class="status-dot"></span>Dostępny do współpracy
              </div>
              <div class="form-container">
                <div class="inputs-container">
                  <div class="w-50">
                    <input type="text" placeholder="Twoje imię" />
                  </div>
                  <div class="w-50">
                    <input type="text" placeholder="Twoje nazwisko" />
                  </div>
                </div>
                <input type="text" placeholder="*Twój e-mail" />
                <textarea placeholder="*Opowiedz o swoim projekcie"></textarea>
                <button role="button" class="send-button"> Wyślij</button>
              </div>
            </section>
          </div>
        </div>
      </nav>

      <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    </div>
  </body>
</html>
