---
const { selectedItem } = Astro.props
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <a href="/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img
          src="/assets/pics/marek.jpg"
          loading="eager"
          alt="Marek Chodacki"
          class="niv-image"
        />
        <div>
          <div class="label-white">Marek Chodacki</div>
          <div class="label-gray">Programista Fullstack</div>
        </div>
      </div>
    </a>

    <nav role="navigation" class="w-nav-menu">
      <a
        href="/"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'strona-glowna' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/icons/nav_home.svg"
          loading="eager"
          alt="Strona główna"
          class="nav-link-image"
        />
        <div>Strona Główna</div>
      </a>
      <a
        href="/aplikacje-webowe"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'aplikacje-webowe' ? 'w--current' : ''
        }`}
        aria-current={selectedItem === 'aplikacje-webowe' ? 'page' : undefined}
      >
        <img
          src="/assets/icons/nav_webapps.svg"
          loading="eager"
          alt="Tworzenie aplikacji webowych"
          class="nav-link-image"
        />
        <div>Aplikacje Webowe</div>
      </a>
      <a
        href="/strony-sklepy"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'strony-sklepy' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/icons/nav_websites.svg"
          loading="eager"
          alt="Projektowanie stron i sklepów internetowych"
          class="nav-link-image"
        />
        <div>Strony i&nbsp;Sklepy</div>
      </a>
      <a
        href="/seo-pozycjonowanie"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'seo-pozycjonowanie' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/icons/nav_seo.svg"
          loading="eager"
          alt="Optymalizacja SEO i Pozycjonowanie stron internetowych"
          class="nav-link-image"
        />
        <div>SEO i&nbsp;Pozycjonowanie</div>
      </a>
    </nav>

    <div
      class="navbar-icon-button w-nav-button"
      style="-webkit-user-select: text;"
      aria-label="menu"
      role="button"
      tabindex="0"
    >
      <img
        src="/assets/icons/btn_menu.svg"
        loading="eager"
        alt="Menu"
        class="navbar-icon"
      />
    </div>
  </div>

  <script>
    import { setupNav } from '../scripts/nav.js'

    let cleanup
    document.addEventListener('astro:page-load', () => {
      if (cleanup) cleanup()
      cleanup = setupNav()
    })

    document.addEventListener('astro:before-swap', () => {
      if (cleanup) cleanup()
    })
  </script>
</aside>
