---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import type { LayoutProps } from '../_data/types'

const { routeKey, title } = Astro.props as LayoutProps
---

<!doctype html>
<html lang="pl">
  <Header title={title} />
  <body>
    <div class="content">
      <Sidebar routeKey={routeKey} />
      <slot />
    </div>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
