---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'

interface LayoutProps {
  title: string
  selectedItem: string
}

const { title, selectedItem } = Astro.props as LayoutProps
---

<!doctype html>
<html lang="pl">
  <Header title={title} />
  <body>
    <div class="content">
      <Sidebar selectedItem={selectedItem} />
      <slot />
    </div>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
